/* Gobal */
:root {
    /* Color */
--color-black: #000000;
--color-white: #ffffff;
--color-light-white: #eeeeee;
--color-dark-white: #bdbdbd;
--color-white-blue: #b8d3d8;
--color-dark-blue: #03989e;
--color-dark-grey: #4d4d4d;
--color-grey: #616161;
--color-light-grey: #7c7979;
--color-orange: #ff6863;
--color-yellow: #fff7d1;
--color-dark-yellow: #feb546;
    /* Font size */
--font-size-large: 2.5rem;
--font-size-medium: 1.8rem;
--font-size-small: 1.5rem;
--font-size-tiny: 1rem;
    /* Font weight */
--weight--bold: 800;
--weight--regular: 550;
--weight--light: 400;
    /* size */
--space-text: .6rem;
--space-side: 1.5rem;
--space-column: 2rem;
--button-radius: 4px;
--item-card: 8rem;

    /* Animation */
--speed-transition: 300ms;
}
/* Universe tags */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
}
button {
    outline: none;
    background: transparent;
    border: none;
}
#about,
#skills,
#work,
#testimonials,
#contact {
    text-align: center;
    padding: calc(var(--space-side)*1);
    margin: auto;
}
.section-width {
    max-width: 1200px;
    margin: auto;
}
.active {
    visibility: visible;
}

/* Typography */
h1 {
    font-size: var(--font-size-large);
    font-weight: var(--weight--bold);
    color: var(--color-black);
    margin: 16px 0px;
}
h2 {
    font-size: var(--font-size-medium);
    font-weight: var(--weight--regular);
    color: var(--color-black);
    margin: 16px 0px;
}
h3 {
    font-size: var(--font-size-small);
    font-weight: var(--weight--light);
    color: var(--color-black);
    margin: 8px 0px;
}
p {
    font-size: var(--font-size-tiny);
    font-weight: var(--weight--regular);
    color: var(--color-black);
    margin: 4px 0px;
}

/* Navbar */
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white-blue);
    position: sticky;
    top: 0;
    margin: var(--space-side) var(--space-side) 0 var(--space-side);
    padding: 0 var(--space-side);
    flex-direction: row;
}
.navbar__logo {
    display: flex;
    align-items: center;
    gap: .3rem;
}
.navbar__logo > img {
    width: 2rem;
    height: 2rem;
}
.navbar__logo > a {
    font-weight: var(--weight--light);
    font-size: var(--font-size-medium);
    color: var(--color-white);
}
.navbar__menu {
    display: flex;
}
.navbar__menu__item {
    padding: var(--space-text);
    color: var(--color-white);
    border-radius: var(--button-radius);
    cursor: pointer;
}
.navbar__menu__item.active {
    border: 1px solid var(--color-white);
}
.navbar__menu__item:hover {
    background-color: var(--color-dark-blue);
    transition: all var(--speed-transition) linear;
}
.navbar__toggle-btn {
    position: absolute;
    display: block;
    right: 1.2rem;
    top: 1.2rem;
    display: none;
}
.navbar__toggle-btn i {
    color: var(--color-white);
    font-size: 1.2rem;

}
/* Home */
#home {
    background: url(/imgs/home-background.png) center/cover;
    text-align: center;
    padding: var(--space-column) 0;
    margin: 0 var(--space-side);

}
#home > img {
    width: 14rem;
    border: 1px solid var(--color-light-white);
    border-radius: 50%;
}
#home > h1,
#home > h2,
#home > button {
    color: var(--color-light-white);
}
#home > button {
    background-color: transparent;
    border: 1px solid var(--color-light-white);
    padding: var(--space-text);
    font-weight: var(--weight--bold);
    cursor: pointer;
    border-radius: var(--button-radius);
}
#home > button:hover {
    background-color: rgba(255,255,255,0.2);
    transition: background-color var(--speed-transition) linear;
}

/* About */

.about__cards,
.about__title,
.about__description {
    padding: 0 calc(var(--space-side)*2.5);
}
.about__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.about__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    
}
.about__card__logo {
    font-size: calc(var(--font-size-large)*1.5);
    border: 1px solid var(--color-orange);
    color: var(--color-orange);   
    border-radius: 50%;
    width: var(--item-card);
    height: var(--item-card);
}
.about__card__logo > i {
    line-height: var(--item-card);
}
.about__card__logo:hover i {
    transform: scale(1.1) rotate(10deg);
    color: var(--color-dark-blue);
    transition: all var(--speed-transition) linear;
}
.about__card__title {
    font-weight: var(--weight--regular);
    color: var(--color-dark-grey);
}
.about__card__description {
    font-weight: var(--weight--regular);
    columns: var(--color-grey);
}
.about__careers {
    margin-top: var(--space-side);
    display: flex;
    flex-direction: column;
}
.about__career {
    display: flex;
}
.about__career__logo {
    font-size: var(--font-size-large);
    color: var(--color-orange);
    padding: var(--space-text);
}
.about__career__container {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: var(--font-size-tiny);
    font-weight: var(--weight--light);
    justify-content: center;
}
.about__career__name {
    font-size: calc(var(--font-size-tiny)*0.9);
}
.about__career__period {
    font-size: calc(var(--font-size-tiny)*0.8);
    color: var(--color-dark-grey);
}

/* Skills */
#skills {
    background-color: var(--color-yellow);
}
.skills__title {
    padding-top: var(--space-column);
}
.skills__paragraph {
    padding: 0 calc(var(--space-side)*2.5) var(--space-column) calc(var(--space-side)*2.5); 

}
.skills__chart__skillset,
.skills__chart__tools,
.skills__chart__etc {
    padding: var(--space-side);
    color: var(--color-light-white);
}
.skills__chart {
    display: flex;
    justify-content: center;
    padding: 0 calc(var(--space-side)*2.5);
}
.skills__chart__skillset {
    background-color: var(--color-dark-grey);
    flex-basis: 70%;
}
.skills__chart__skillset__title {
    margin-bottom: var(--space-text);
}

.skills__chart__skillset__items {
    display: flex;
    flex-direction: column;

}
.skills__chart__skillset__item {
    margin-bottom: 1.5rem;
}
.skills__chart__skillset__item__container {
    display: flex;
    justify-content: space-between;
}
.skills__chart__skillset__item__name,
.skills__chart__skillset__item__percent {
    font-size: calc(var(--font-size-tiny)*0.8);
}

.skills__chart__skillset__item__graph {
    width: 100%;
    height: .1rem;
    background-color: var(--color-grey);
}
.skills__chart__skillset__item__value {
    transform: translateY(-.1rem);
    background-color: var(--color-dark-yellow);
    height: .1rem;
}

.skills__chart__right-container {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}
.skills__chart__tools {
    background-color: var(--color-grey);
}
.skills__chart__etc {
    background-color: var(--color-light-grey);
}

/* Work */

.work__btn {
    border: 1px solid var(--color-light-grey);
    padding: .5rem 1.5rem;
    font-weight: var(--weight--regular);
    border-radius: var(--button-radius);
}
.work__count {
    display: inline-block;
    width: 1rem;
    background-color: var(--color-dark-yellow);
    border-radius: 50%;
    text-align: center;
    line-height: 1rem;
    color: var(--color-white);
    margin-left: var(--space-text);
    transform: translateY(-0.5rem);
    visibility: hidden;
}
.active {
    visibility: visible;
}
.work__btn:hover {
    background-color: var(--color-dark-blue);
    transition: all var(--speed-transition) linear;
}
.work__btn:hover span {
    transform: translateY(0);
    transition: all var(--speed-transition) linear;
    visibility: visible;
}
.work__description {
    margin: 1rem 0;
}
.work__items {
    display: flex;
    flex-wrap: wrap;
    padding: var(--space-side);
    justify-content: center;
    align-items: center;

}
.work__item {
    
    
    position: relative;
    cursor: pointer;
    background-color: var(--color-light-white);
    width: 18rem;
    height: 16rem;
    border: .15rem solid var(--color-white);
}

.work__item__img {
    max-width: 100%;
    max-height: 100%;
}
.work__item__onmouse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 18rem;
    height: 16rem;
    background-color: var(--color-black);
    opacity: 0;
    transform: translateY(0.5rem);
}
.work__item__onmouse:hover {
    opacity: 0.8;
    transition: all var(--speed-transition) ease-in;
    transform: translateY(0);
}
.work__item__onmouse:after {
    content: '';
    width: 20px;
    height: 1px;
    background-color: var(--color-light-white);
    position: relative;
    left: 50%;
    top: -1.75rem;
    transform: translateX(-50%);
    
}
.work__item__onmouse__title,
.work__item__onmouse__description {
    color: var(--color-light-white);
}

/* Testimonials */
#testimonials {
    background-color: var(--color-light-white);
}
.testimonials__description {
    margin-bottom: 1rem
}
.testimonials__item__img {
    width: 30px;
}
.testimonials__items {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.testimonials__item {
    display: flex;
    margin-bottom: var(--space-text);
}
.testimonials__item__img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}
.testimonials__item__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem;
    background-color: var(--color-white);
}
.testimonials__item__description__text {
    color: var(--color-light-grey);
}
.testimonials__item__description__author {
    color: var(--color-dark-blue);
    font-weight: var(--weight--light);
}
.testimonials__item__description__company {
    color: var(--color-dark-grey);
    font-weight: var(--weight--regular);
}

/* Contact */
#contact {
    background-color: var(--color-dark-blue);
    color: var(--color-white-blue);
}
.contact__title,
.contact__email,
.contact__sns a {
    color: var(--color-white-blue);
}

.contact__sns i:hover {
    
    transform: scale(1.1) rotate(5deg);
    transition: transform var(--speed-transition) ease-in;
}

/* Media queries */
@media screen and (max-width:678px) {
    #navbar {
        flex-direction: column;
        align-items: flex-start;
        padding-top: var(--space-text);
    }
    .navbar__logo {
        
    }
    .navbar__menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }
    .navbar__toggle-btn {
        display: block;
    }


.about__cards {
    flex-direction: column;
    align-items: center;
}
.about__description {
    padding: 0;
}

.skills__chart {
    flex-direction: column;
    flex-grow: 1;
    padding: 0;
}
.skills__paragraph {
    padding: 0 0 var(--space-column) 0; 
}

.work__btn {
    padding: .4rem 1rem;
}

.testimonials__item__img {
    width: 4rem;
    height: 4rem;
}

}