/* Gobal */
:root {
    /* Color */
--color-black: #000000;
--color-white: #ffffff;
--color-light-white: #eeeeee;
--color-dark-white: #bdbdbd;
--color-white-blue: #96ddf8;
--color-dark-blue: #03989e;
--color-dark-grey: #4d4d4d;
--color-grey: #616161;
--color-light-grey: #7c7979;
--color-orange: #ff6863;
--color-yellow: #fff7d1;
--color-dark-yellow: #feb546;
    /* Font size */
--font-size-large: 2rem;
--font-size-medium: 1.5rem;
--font-size-small: 1rem;
--font-size-tiny: .8rem;
    /* Font weight */
--weight--bold: 700;
--weight--regular: 600;
--weight--light: 400;
    /* size */
}
/* Universe tags */
* {
    box-sizing: border-box;
}
/* Typography */
h1 {
    font-size: var(--font-size-large);
    font-weight: var(--weight--bold);
    color: var(--color-black);
    margin: 16px 0px;
}
h2 {
    font-size: var(--font-size-medium);
    font-weight: var(--weight--regular);
    color: var(--color-black);
    margin: 8px 0px;
}
h3 {
    font-size: var(--font-size-small);
    font-weight: var(--weight--light);
    color: var(--color-black);
    margin: 8px 0px;
}
p {
    font-size: var(--font-size-tiny);
    font-weight: var(--weight--regular);
    color: var(--color-black);
    margin: 4px 0px;
}


.navbar__logo > img {
    width: 16px;
    height: 16px;
}

